@use "../../../styles/screen";

.main {
  border: 6px solid var(--dim);
  width: 300px;
  height: 300px;
  color: white;
  border-radius: 5%;
  position: relative;

  h1 {
    color: var(--coral);
    font-family: var(--font);
    margin: 0 1em;
  }

  p {
    color: var(--coral);
    margin: 2em 1em;
    font-family: var(--font);
  }

  &::after {
    content: "";
    height: 0%;
    width: 100%;
    transition: var(--transition);
    bottom: 0;
    z-index: -1;
    background-color: var(--dim);
    position: absolute;
    opacity: 50%;
  }
  &:hover {
    &::after {
      height: 100%;
      opacity: 100%;
    }
  }
}

.svg {
  display: flex;
  margin: 1em 0;
  justify-content: center;
}
