@use "../../../styles/screen";
.btnNav {
  border: 2px var(--dim) solid;
  color: var(--coral);
  cursor: pointer;
  font-family: var(--font);
  font-size: 0.8rem;
  font-weight: bold;
  // padding: 0.2rem 1.6rem;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 3rem;
  border-radius: 10rem;
  overflow: hidden;
  transition-delay: 0.2s;
  position: relative;
  isolation: isolate;

  &:before {
    position: absolute;
    content: "";
    transition: var(--transition) ease-in-out;
    z-index: -1;
    background-color: var(--dim);
    width: 121px;
    height: 0px;
    transform: rotate(70deg) translateY(100px);
    left: 0;
    bottom: 0;
  }

  &:hover {
    box-shadow: 0px 0px 60px 20px #462418;
    &:before {
      height: 121px;
      transform: rotate(0deg) translateY(0px);
    }
  }
}

.btnHero {
    margin: 2rem 0;
    border: 2px solid var(--shadow);
    color: var(--coral);
    cursor: pointer;
    font-family: var(--font);
    font-size: .8rem;
    font-weight: 700;
    height: 40px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 3rem;
    border-radius: 10rem;
    overflow: hidden;
    transition-delay: .2s;
    position: relative;
    isolation: isolate;
    box-shadow: 0 0 110px 0 var(--shadow);

  @include screen.devices(lg) {
    margin: 5rem 0;
  }
  &:before {
    position: absolute;
    content: "";
    transition: var(--transition) ease-in-out;
    z-index: -1;
    background-color: var(--dim);
    width: 200px;
    height: 0px;
    transform: rotate(70deg) translateY(120px);
    left: 0;
    bottom: 0;
  }

  &:hover {
    &:before {
      height: 131px;
      transform: rotate(0deg) translateY(0px);
    }
  }
  &__card {
    @extend .btnHero;
    margin: 2em 0;
    padding: 0.8rem 1rem;
    height: 30px;
    width: 140px;
  }
}

.btnSidebar {
  border: 2px var(--dim) solid;
  color: var(--coral);
  cursor: pointer;
  font-family: var(--font);
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.4rem 2rem;
  margin: 1em 0;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  overflow: hidden;
  transition-delay: 0.2s;
  position: relative;
  isolation: isolate;

  &:before {
    position: absolute;
    content: "";
    transition: var(--transition) ease-in-out;
    z-index: -1;
    background-color: var(--dim);
    width: 121px;
    height: 0px;
    transform: rotate(70deg) translateY(100px);
    left: 0;
    bottom: 0;
  }

  &:hover {
    box-shadow: 0px 0px 60px 20px #462418;
    &:before {
      height: 121px;
      transform: rotate(0deg) translateY(0px);
    }
  }
}
