.main {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
}
.imgHold {
  position: relative;
  margin: 0 5em 0 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    height: 300px;
    width: 300px;
    filter: blur(322px);
    background-color: rgb(131, 79, 1);
  }
}
.img {
  object-fit: contain;
  position: relative;
}
