@use "../../styles/screen";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include screen.devices(md) {
    flex-direction: row;
    margin: 7em 0;
  }
  @include screen.devices(lg) {
  }
}

.titleDiv {
  color: var(--coral-light);
  h1 {
    font-family: var(--font);
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    line-height: 3rem;

    @include screen.devices(md) {
      font-size: 2.4rem;
      line-height: 3rem;
    }

    @include screen.devices(lg) {
      font-size: 3rem;
      line-height: 6rem;
    }
  }

  p {
    color: var(--coral);
    font-family: sans-serif;
    white-space: pre-line;
    font-size: 0.8rem;

    @include screen.devices(lg) {
      font-size: 0.9rem;
      word-spacing: 0.1rem;
      line-height: 1.6rem;
    }
  }
}
.imgHold {
  position: relative;
  margin: 2 5em 0 0;
  order: -1;
  height: 240px;
  width: 240px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    z-index: -1;
    height: 300px;
    width: 300px;
    filter: blur(322px);
    background-color: var(--shadow);
  }

  @include screen.devices(md) {
    height: 310px;
    width: 310px;
    order: 1;
    margin: 0 2em 0 0;
  }

  @include screen.devices(lg) {
    height: 400px;
    width: 400px;
    order: 1;
    margin: 0 5em 0 0;
  }
}
.img {
  object-fit: contain;
  position: relative;
}
