@use "./screen";

:root {
  --font: sans-serif;
  --coral: #dab989;
  --coral-light: #f7ede0;
  --dim: #753304;
  --shadow: #aa3304;
  --transition: 0.4s;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 2px 5px 0 5px;
  margin: 0;
  background: #150a00;

  @include screen.devices(md) {
    padding: 0 30px;
  }

  @include screen.devices(lg) {
    padding: 0 50px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menuSvg {
  color: rebeccapurple;
}
