@use "./screen";

:root {
  --font: sans-serif;
  --coral: #dab989;
  --transition: 0.4s;
}
html,
body {
  padding: 0;
  margin: 0;
  background: #150a00;

  @include screen.devices(lg) {
    padding: 0 50px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
