.main {
  &__blur {
    transition: var(--transition);
    filter: blur(4px);
  }

  &__unblur {
    transition: var(--transition);
    filter: blur(0);
  }
}

.featuredSect {
  display: flex;
  flex-direction: column;
  align-items: center;
}
