@use "../../styles/screen";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
}
.flexCont {
  @include screen.devices(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.textHold {
  h1 {
    text-align: center;
    color: var(--coral);
    text-shadow: 1px 1px 402px rgb(255, 1, 1);

    @include screen.devices(sm) {
      font-size: 2rem;
    }

    @include screen.devices(md) {
      text-align: left;
      font-size: 2rem;
    }

    @include screen.devices(lg) {
      font-size: 2rem;
    }

    p {
      background-color: red;
      color: var(--coral);
    }
  }

  p {
    text-align: center;
    color: var(--dim);
    font-weight: bold;
    text-shadow: 1px 1px 402px #a00;

    @include screen.devices(sm) {
      font-size: 1.2rem;
      padding: 0;
    }

    @include screen.devices(md) {
      text-align: left;
      font-size: 1.3rem;
      padding: 0;
    }

    @include screen.devices(lg) {
      font-size: 1rem;
      padding: 0;
    }
  }
}

.imgCard {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.imgHold {
  position: relative;
  display: block;
  height: 70%;
  width: 70%;
  overflow: hidden;
  align-self: center;
  .img {
    object-fit: contain;
  }
}
