@use "../../styles/screen";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
}
.flexCont {
  @include screen.devices(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.textHold {
  h1 {
    color: var(--coral);
    word-wrap: normal;
    text-shadow: 1px 1px 402px rgb(255, 1, 1);

    @include screen.devices(sm) {
      font-size: 2rem;
    }

    @include screen.devices(md) {
      font-size: 2rem;
    }

    @include screen.devices(lg) {
      font-size: 2rem;
    }

    p {
      background-color: red;
      color: var(--coral);
    }
  }

  p {
    color: var(--dim);
    font-weight: bold;
    text-shadow: 1px 1px 402px #a00;

    @include screen.devices(sm) {
      font-size: 1.2rem;
      padding: 0;
    }

    @include screen.devices(md) {
      font-size: 1.3rem;
      padding: 0;
    }

    @include screen.devices(lg) {
      font-size: 1rem;
      padding: 0;
    }
  }
}

.imgCard {
}

.imgHold {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .img {
    object-fit: contain;
  }
}
