@use "../../styles/screen";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);

  @include screen.devices(md) {
    margin: 5em 0 0 0;
  }
}
.flexCont {
  display: flex;
  flex-direction: column;
  @include screen.devices(md) {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    flex-direction: row;
    margin: 2em 0 0 0;
  }
}

.textHold {
  h1 {
    text-align: center;
    color: var(--coral);
    text-shadow: 1px 1px 402px rgb(255, 1, 1);

    @include screen.devices(sm) {
      font-size: 2rem;
    }

    @include screen.devices(md) {
      text-align: left;
      font-size: 2rem;
    }

    @include screen.devices(lg) {
      font-size: 2rem;
    }

    p {
      background-color: red;
      color: var(--coral);
    }
  }

  p {
    text-align: center;
    color: var(--dim);
    // font-weight: bold;
    text-shadow: 1px 1px 402px #a00;

    @include screen.devices(sm) {
      font-size: 1.2rem;
      padding: 0;
    }

    @include screen.devices(md) {
      text-align: left;
      font-size: 1.3rem;
    }

    @include screen.devices(lg) {
      font-size: 1rem;
      padding: 0 10em 0 0;
    }
  }
}

.imgCard {
  order: -1;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;

  @include screen.devices(md) {
    justify-content: right;
    order: 1;
  }
  &::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    filter: blur(440px);
    opacity: 58%;
    z-index: -1;
    background: var(--dim);
  }
}

.imgHold {
  position: relative;
  display: block;
  height: 70%;
  width: 70%;
  overflow: hidden;
  align-self: center;

  @include screen.devices(md) {
    height: 90%;
    width: 90%;
  }
  .img {
    object-fit: contain;
  }
}

.ask {
  width: 100%;
  color: var(--coral);
  align-self: baseline;

  @include screen.devices(md) {
    width: 50%;
  }

  h4 {
    cursor: pointer;
  }

}

.titleHold {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid chocolate;
  margin: 0.7em 0;
  span {
    text-align: center;
    font-size: 3rem;
    color: coral;
  }
}
