@use "../../styles/screen";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 0;
  font-family: var(--font);

  h1 {
    color: var(--coral);
    word-wrap: normal;
    text-align: center;
    text-shadow: 1px 1px 402px rgb(255, 1, 1);

    @include screen.devices(sm) {
      font-size: 2rem;
    }

    @include screen.devices(md) {
      font-size: 2.9rem;
    }

    @include screen.devices(lg) {
      font-size: 3rem;
    }
  }

  p {
    text-align: center;
    color: var(--dim);
    font-weight: bold;
    text-shadow: 1px 1px 402px #a00;

    @include screen.devices(sm) {
      font-size: 1.2rem;
      margin: 0 5em;
    }

    @include screen.devices(md) {
      font-size: 1.7rem;
      margin: 0 7em;
    }

    @include screen.devices(lg) {
      font-size: 1.8rem;
      margin: 0 8em;
    }
  }
}

.cardHold {
  font-family: var(--font);

  @include screen.devices(md) {
    display: flex;
    gap: 0 6em;
  }

  @include screen.devices(lg) {
    gap: 0 10em;
  }
}
.card {
  margin: 5em 0;
  color: var(--coral);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px 5px;
  overflow: hidden;
  padding: 0 1em;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 4px;
    z-index: -1;
    background-color: #150a00;
  }

  &::before {
    content: "";
    top: -25%;
    position: absolute;
    height: 150%;
    width: 60%;
    z-index: -1;
    background-color: var(--dim);
    animation: anim 15s linear infinite;
    border-radius: 3px 3px;

    @keyframes anim {
      0% {
        rotate: 0deg;
      }
      100% {
        rotate: 360deg;
      }
    }
  }

  h3 {
    background-color: saddlebrown;
    padding: 0.2em 0.4em;
    border-radius: 4px 4px;
    box-shadow: 0px 0px 20px 2px var(--dim);
  }
  h1 {
    margin: 0;
    position: relative;

    span {
      font-size: 0.9rem;
    }

    .price {
      font-size: 2.7rem;
      text-shadow: 2px 2px 10px rgb(235, 113, 0);
    }

    .h1Span1 {
      position: absolute;
      top: 5px;
      left: -10px;
      font-size: 1rem;
    }
  }

  button {
    margin: 1em 0;
    background-color: var(--coral);
    outline: none;
    border: none;
  }
}

.features {
  font-size: 0.8rem;
  text-align: center;
}
