@use "../../styles/screen";
.main {
  margin: 3em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4em 0;
  justify-content: center;

  @include screen.devices(sm) {
    // grid-template-columns: repeat(2, auto);
    gap: 2em 0.3em;
  }

  @include screen.devices(md) {
    gap: 4em 4em;
  }

  @include screen.devices(lg) {
    gap: 4em 1em;
    // grid-template-columns: repeat(4, auto);
  }
}
