@use "../../styles/screen";
.main {
  margin: 3em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4em 0;
  justify-content: center;

  @include screen.devices(sm) {
    // grid-template-columns: repeat(2, auto);
    gap: 2em 0.3em;
  }

  @include screen.devices(md) {
    gap: 4em 4em;
  }

  @include screen.devices(lg) {
    gap: 4em 1em;
    // grid-template-columns: repeat(4, auto);
  }
}

.card {
  width: 300px;
  height: 300px;
  color: white;
  border-radius: 5%;
  position: relative;
  inset: 1em;
  transition: 1s;
  opacity: 0;
  transform: translateX(100px);

  &.active {
    transform: translateX(0px);
    opacity: 1;
  }

  &::before {
    content: "";
    position: absolute;
    height: 120%;
    width: 120%;
    z-index: -2;
    background-color: rgb(74, 9, 9);
    left: -30px;
    top: -30px;
    filter: blur(140px);
  }

  @include screen.devices(lg) {
    width: 260px;
    height: 300px;
  }

  h1 {
    color: var(--coral);
    font-family: var(--font);
    margin: 0 1em;
    text-align: center;
  }

  p {
    color: var(--coral);
    margin: 2em 2em;
    font-size: 0.9em;
    font-family: var(--font);
  }

  &::after {
    content: "";
    transition: var(--transition);
    z-index: -1;
    position: absolute;
    background-color: #1c0700;
    inset: 10px;
  }
  &:hover {
    .bottomBox {
      width: 100%;
      background-color: var(--dim);
    }
  }
}

.svg {
  display: flex;
  margin: 1em 0;
  justify-content: center;
}

.topBox {
  content: "";
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--frame);
}

.bottomBox {
  transition: var(--transition);
  content: "";
  position: absolute;
  height: 100%;
  width: 30%;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--frame);
}
