@use "../../styles/screen";

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
}

.mainH1 {
  color: var(--coral);
  font-size: 2.9rem;
  text-align: center;

  @include screen.devices(sm) {
    font-size: 2rem;
  }

  @include screen.devices(md) {
    font-size: 2.9rem;
  }

  @include screen.devices(lg) {
    font-size: 3rem;
  }
}

.mainP {
  color: var(--coral);
  inline-size: 543px;
  text-align: center;
}

.iconNh2 {
  color: var(--coral);
  display: grid;
  justify-items: center;

  svg {
    border: dotted 2px var(--coral);
    border-radius: 50%;
    height: 60px;
    padding-inline: 10px;
    padding-block: 10px;
  }

  h2 {
  }
}
