@use "../../styles/screen";
.btn {
  border: 2px var(--dim) solid;
  color: white;
  cursor: pointer;
  font-family: var(--font);
  font-size: 0.8rem;
  font-weight: bold;
  // padding: 0.2rem 1.6rem;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 3rem;
  border-radius: 10rem;
  overflow: hidden;
  transition-delay: 0.2s;
  position: relative;
  isolation: isolate;

  &:before {
    position: absolute;
    content: "";
    transition: var(--transition) ease-in-out;
    z-index: -1;
    background-color: var(--dim);
    width: 121px;
    height: 0px;
    transform: rotate(70deg) translateY(100px);
    left: 0;
    bottom: 0;
  }

  &:hover {
    box-shadow: 0px 0px 60px 20px #462418;
    &:before {
      height: 121px;
      transform: rotate(0deg) translateY(0px);
    }
  }
}

.btnHero {
  margin: 2rem 0rem;
  border: 2px var(--dim) solid;
  color: white;
  cursor: pointer;
  font-family: var(--font);
  font-size: 0.8rem;
  font-weight: bold;
  // padding: 0.2rem 1.6rem;
  height: 40px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 3rem;
  border-radius: 10rem;
  overflow: hidden;
  transition-delay: 0.2s;
  position: relative;
  isolation: isolate;
  box-shadow: 0px 0px 60px 0px #462418;

  @include screen.devices(lg) {
    margin: 5rem 0;
  }
  &:before {
    position: absolute;
    content: "";
    transition: var(--transition) ease-in-out;
    z-index: -1;
    background-color: var(--dim);
    width: 200px;
    height: 0px;
    transform: rotate(70deg) translateY(120px);
    left: 0;
    bottom: 0;
  }

  &:hover {
    &:before {
      height: 131px;
      transform: rotate(0deg) translateY(0px);
    }
  }
}
