@use "../../styles/screen";

.svg {
  height: 40px;
  width: 40px;
  color: wheat;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include screen.devices(lg) {
    padding: 10px 10px;
  }
}

.logo {
  padding: 5px;
  color: var(--coral);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  span {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: sans-serif;
  }
}

.img {
  object-fit: contain;
}

.nav {
  display: flex;
  gap: 2rem;
}

.server {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.serverSvg {
  color: var(--coral);
  width: 30px;
  height: 30px;
  transition: var(--transition);

  &:hover {
    color: chocolate;
  }
}
