@use "../../styles/screen";

.main {
  font-family: var(--font);
  color: var(--coral);

  // @include screen.devices(md) {
  //   padding: 0 30px;
  // }

  // @include screen.devices(lg) {
  //   padding: 0 50px;
  // }
}

.footerHold {
  justify-content: space-between;
  border-top: 1px solid #4a322f;

  @include screen.devices(md) {
    display: flex;
    padding: 0 30px;
  }

  @include screen.devices(lg) {
    padding: 40px 50px 0 50px;
  }

  .nameAndDesc {
    p {
      word-wrap: break-word;
      width: 300px;
      color: var(--dim);
      font-size: 0.9rem;
      word-spacing: 0.2rem;
    }

    .ImgAndText {
      display: flex;

      gap: 0 1em;

      .imgHold {
        position: relative;
        height: 50px;
        width: 100px;
        .img {
          object-fit: contain;
        }
      }
    }
  }
}

.copyRight {
  text-align: center;
  padding: 0.6em 0;
  font-size: 0.8rem;
  background: var(--dim);
}

.contSect {
  h3 {
    text-align: center;
  }
  div {
    display: flex;
    align-items: center;
    gap: 1em;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    p {
      font-size: 0.8rem;
    }
    svg {
      height: 20px;
      width: 20px;
    }
  }
}
