@use "../../styles/screen";

.section {
  margin: 3em 0 5em 0;
  font-family: var(--font);

  h1 {
    color: var(--coral);
    word-wrap: normal;
    text-align: center;
    text-shadow: 1px 1px 402px rgb(255, 1, 1);

    @include screen.devices(sm) {
      font-size: 2rem;
    }

    @include screen.devices(md) {
      font-size: 2.9rem;
    }

    @include screen.devices(lg) {
      font-size: 3rem;
    }
  }
}

.cardHold {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em 0;
  @include screen.devices(sm) {
    justify-content: space-between;
  }
}

.card {
  width: 350px;
  border-radius: 5%;
  border: 8px solid var(--dim);
  transition: var(--transition);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 120%;
    width: 120%;
    z-index: -1;
    background-color: rgb(74, 9, 9);
    left: -30px;
    top: -30px;
    filter: blur(140px);
  }
}

.textHold {
  color: var(--coral);
  padding: 0 10px;

  h3 {
    cursor: pointer;

    &:hover {
      color: coral;
    }
  }

  p {
    inline-size: 100%;
  }
}
.imgHold {
  position: relative;
  height: 220px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: coral;
    opacity: 26%;
    top: 0;
  }

  .img {
    object-fit: "cover";
  }
}
