@use "../../../styles/screen";

.container {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 1;

  &__hide {
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 0;
  }
  @include screen.devices(md) {
    display: none;
  }
}

.main {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  backdrop-filter: blur(8px);
  transition: var(--transition) translate;

  &__hide {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    transition: var(--transition) translate;
    translate: 0px -100px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0.2em 0;
  flex-wrap: wrap;
}
